.myComponent {
  all: unset; /* 取消所有繼承樣式 */
}

.container {
  height: 100%;
  width: 94%;
  border: 2px solid red;
  margin: 20px 3% 20px 3%;
}

.buttonGroup{
  margin: 20px 0;
  display: flex;
  gap: 5px;
  width: fit-content;
  padding: 6px;
  border-radius: 8px;
  background-color: #698d65;
}

.outsideAvatar {
  margin: 20px 0;
  display: flex;
  gap: 70px;
  align-items: center; /* 文字垂直置中 */
}

.avatarWrapper {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  overflow: hidden; /* 隱藏超出的部分 */
  border-radius: 50%; /* 圓形容器 */
  background-color: red;
}

.avatarWrapper img {
  width: auto;
  height: 100%;
}



