.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination h5 {
  float: left;
  display: block;
  font-size: 16px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
  font-weight: 500;
}
.pagination h5 {
  cursor: pointer;
}
.pagination h5:active {
  outline: none;
}
.modal-4 h5 {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  border-radius: 100%;
  background-color: #ada752;
  color: white;
}
.modal-4 h5.prev {
  border-radius: 50px 0 0 50px;
  width: 100px;
}
.modal-4 h5.next {
  border-radius: 0 50px 50px 0;
  width: 100px;
}
.modal-4 h5:hover {
  background-color: #fff579;
  color: black;
}
