.BCartContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 0 100px;
}

.bookingForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 65%;
}
.bookingForm h3 {
  color: #ff5833;
  margin-bottom: 15px;
}

.orderSummary {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}
.orderSummary p {
  margin-bottom: 10px;
  color: #333;
}

.bookingInfo {
  display: flex;
  align-items: center;
}
.bookingInfo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 15px;
  object-fit: cover;
}

.bookingDetails {
  color: #333;
}

.formSection {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ff6f61;
  border-radius: 8px;
  background-color: #fffaf2;
}

.formSection h4 {
  color: #705448;
  margin-bottom: 10px;
  border-bottom: 1px solid #b4a59f;
  padding-bottom: 10px;
}

.formSection label {
  margin-bottom: 5px;
  display: block;
}

.formSection input,
.formSection select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.phoneInput {
  display: flex;
}

.phoneInput select {
  width: 20%;
  margin-right: 10px;
}

.phoneInput input {
  width: 80%;
}

.notice {
  color: #777;
}

.paybtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.combinePay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
