@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.btn {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  color: white;
  
  font-family: 'Poetsen One','Zen Maru Gothic', sans-serif;

  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4282b7;
  color: #fff579;
  border: none;
}

/* 地區 */
.btn-reg {
  color: #fff;
  background-color: #698d65;
}
.btn-reg:hover {
  background-color: #fff579;
  font-weight: bold;
  color: #4c3a30;
}

/* 大按鈕 */
.btn-search {
  background-color: #fc9a84;
}
.btn-search2 {
  background-color: #fc9a84;
}
.btn-addcart {
  background-color: #a9a859;
}
.btn-join {
  background-color: #a9a859;
}
.btn-goto {
  background-color: #FF82D2;
  color: #fff;
}
.btn-coup{
  background-color: #198Ea6;
}

/* 小按鈕 */
.btn-go {
  background-color: #fc9a84;
  padding: 2px 10px;
  font-size: 12px;
}
.btn-go2 {
  background-color: #fc9a84;
  padding: 2px 10px;
  font-size: 12px;
}
.btn-more {
  background-color: #a9a859;
  padding: 2px 10px;
  font-size: 12px;
}
