* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Poetsen One', 'Zen Maru Gothic', sans-serif;
}
.ehot-topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.esection-title {
  color: #4c3a30;
  margin-bottom: 20px;
}
.efilter-buttons {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid #4c3a30; */
}
.ehilight-topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.ehilight-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  flex: 1 1 calc(33.333% - 16px);
  border-top: 1px solid #4c3a30;
  padding: 20px;
}
.feature-section {
  display: flex;
  flex-direction: column;
  background-color: #fffbf6;
  padding: 58px 64px;
}

.feature-section .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #4c3a30;
}

.title-icon {
  width: 42px;
  height: 58px;
}

.feature-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 31px;
  margin-top: 20px;
}

.feature-item {
  flex: 1;
}

.feature-title {
  font-size: 28px;
  color: #ff82d2;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 20px;
}
