* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Poetsen One', 'Zen Maru Gothic', sans-serif;
}

.evt {
  justify-content: center;
  align-items: center;
}
.eIndexContainer1 {
  background-image: url('https://i.postimg.cc/m2wGJm16/camp-2650359-1280.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eIndexContent {
  text-align: center;
}

.esearch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 50px; 
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  max-width: 500px;
}

.esearch-container input {
  border: none;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  color: #333;
}

.esearch-container button {
  border: none;
  padding: 10px 20px;
  background-color: #a4d497;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  color: #4c3a30;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.esearch-container button:hover {
  background-color: #92c389;
}

.ebutton-container {
  margin-top: 20px;
}

.ecreate-event-btn {
  padding: 10px 20px;
  background-color: #ffeb66;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.ecreate-event-btn:hover {
  background-color: #e6d65a;
}
.eIndexContainer2 {
  display: flex;
  height: 673px;
  padding: 22px 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
}
