footer {
  display: flex;
  background-color: #98d293;
  flex-direction: column;
  align-items: center;
}
footer h3 {
  display: flex;
  justify-content: center;
}
footer p {
  display: flex;
  justify-content: center;
}
footer .contact {
  margin-right: 150px;
}
.container {
  display: flex;
  flex-direction: row;
}
footer .container p {
  display: flex;
  justify-content: flex-start;
}