/* SearchBox */
.SearchContainer {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  justify-content: center;
  gap: 5px;
}
.AdvancedSearchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* 設定為手型圖標 */
}
.AdvancedSearchBtn:hover {
  color: #4282b7;
}

/* SearchFilter */
.AdvancedSearchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterContainer {
  position: relative;
  border-radius: 4px;
  width: 70%;

  background-color: #d7ead3;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterContainer h2 {
  background-color: #a3d69c;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: -20px -20px 20px -20px;
}

.dateFilter {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dateSection,
.guestsSection,
.typeSection,
.areaSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateSection label,
.guestSection label,
.typeSection label,
.areaSection label {
  font-size: 14px;
  font-weight: bold;
  color: #2c3e50;
}

.regInput,
.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 60%;
}

.calendarIcon {
  margin-left: -30px;
  font-size: 16px;
}

.radioGroup {
  display: flex;
  gap: 10px;
}

.bedType {
  margin-right: 5px;
}

/* card */
.bookCard {
  display: 'flex';
  gap: '10px';
}
